﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <MudIcon Icon="@Icons.Material.Filled.Mic" Class="me-2" /> @* Add microphone icon *@
            PoDebateRap
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

@using MudBlazor @* Add MudBlazor namespace *@

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <MudIcon Icon="@Icons.Material.Filled.Home" Class="me-3" /> Home @* Replace span with MudIcon *@
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="leaderboard">
                <MudIcon Icon="@Icons.Material.Filled.EmojiEvents" Class="me-3" /> Leaderboard @* Replace span with MudIcon *@
            </NavLink>
        </div>
        @* Remove Counter and Weather links *@
    </nav>
</div>
